[Unit]
Description = TUNA-Mayonnaise daemon

[Service]
WorkingDirectory = /etc/tuna.d
ExecStart = /usr/bin/tuna api
ExecStop = /usr/bin/kill -p $MAINPID
Restart = always
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = tuna

[Install]
WantedBy = multi-user.target
